    @media (prefers-color-scheme: dark) {
    :root {
      --bg: #161618;
      --bgTint: #27272c;
      --textColor: #dbd7db;
      --bgGrey: #27272c;
      --textColorInverse: #0e0f0f;
    }
  }



  .card {
    width: 25vw;
    height: 32em;
    padding: 2em;
    border-radius: 1rem;
    background-color: rgba(41, 61, 60, 0.288);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.185);
    margin: 5vw 40vw;
  }
  .div1 {
    /* Background pattern from Toptal Subtle Patterns */
    height: 400px;
    width: 100%;

 }
 img {
  height: 100%;
  width: 100%;
  object-fit: contain;
 }